* {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 1em;
  padding: 3em;
  background: #000;
  font-family: Inter, sans-serif;
  text-align: center;
}

img { transition: opacity 2s; }

.logo {
  max-width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}

h2 {
  margin-bottom: 2em;
  font-size: 1em;
  color: #888;
  font-weight: 300;
}

ul {
  padding: 0;
  max-width: 42rem;
  width: 100%;
}

li {
  margin: 1em auto;
  list-style-type: none;
  background: #000;
  border-radius: 8px;
  transition: transform 120ms;
}
li:hover { transform: scale(1.02) }

a {
  padding: 1rem;
  color: white;
  text-align: center;
  text-decoration: none;
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  align-items: center;
}

.bg {
  position: absolute;
  overflow: hidden;
  inset: 0;
  z-index: -1;
  height: 100vh;
  animation: blink 4s infinite ease-in-out alternate;
  opacity: 0.4;
  transform: scale(1.2);
}

@keyframes blink {
  0% {
    filter: blur(8px);
  }
  100% {
    filter: blur(18px);
  }
}
